<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link href="/css/change.css" th:href="@{/css/change.css}" rel="stylesheet">
<link href="/css/change.css" th:href="@{/css/menu.css}" rel="stylesheet">
<meta charset="UTF-8">
<title>管理者メニュー</title>
</head>
<body>
<div class="container-fluid bg-light mt-4 mb-4 d-flex flex-column justify-content-center border border-dark">
	<h3>管理者メニュー</h3>
	<a href="/admin/history"  sec:authorize="hasAuthority('INFOADMIN')" class="btn btn-primary btn-lg" tabindex="-1" role="button">購入履歴</a>
	<a href="/admin/drink_information" sec:authorize="hasAuthority('INFOADMIN')"class="btn btn-primary btn-lg" tabindex="-1" role="button">ドリンク情報</a>
	<a href="/admin/drink_information" sec:authorize="hasAuthority('DRINK')" class="btn btn-primary btn-lg" tabindex="-1" role="button">ドリンク情報</a>
	<a href="/admin/change" sec:authorize="hasAuthority('DRINK')" class="btn btn-primary btn-lg" tabindex="-1" role="button">ドリンク変更フォーム</a>
	<a href="/admin/add" sec:authorize="hasAuthority('DRINK')" class="btn btn-primary btn-lg" tabindex="-1" role="button">ドリンク補充フォーム</a>
	<a href="/admin/money_stock" sec:authorize="hasAuthority('INFOADMIN')" class="btn btn-primary btn-lg" tabindex="-1" role="button">紙幣・貨幣状況</a>
	<a href="/admin/money_stock" sec:authorize="hasAuthority('MONEY')" class="btn btn-primary btn-lg" tabindex="-1" role="button">紙幣・貨幣状況</a>
	<a href="/admin/money_add" sec:authorize="hasAuthority('MONEY')" class="btn btn-primary btn-lg" tabindex="-1" role="button">紙幣・貨幣追加フォーム</a>
	<a href="/admin/money_collect" sec:authorize="hasAuthority('MONEY')" class="btn btn-primary btn-lg" tabindex="-1" role="button">紙幣・貨幣回収フォーム</a>
	<a href="/admin/user_add" sec:authorize="hasAuthority('INFOADMIN')" class="btn btn-primary btn-lg" tabindex="-1" role="button">ユーザー登録フォーム</a>
	<a href="/admin/user_list" sec:authorize="hasAuthority('INFOADMIN')" class="btn btn-primary btn-lg" tabindex="-1" role="button">ユーザー一覧</a>
	<a href="/user/buy" class="btn btn-primary btn-lg" tabindex="-1" role="button">ログアウト</a>
</div>
</body>
</html>